<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Fixed navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<main class="container mt-5">
  <div class="bg-light p-5 rounded">
    <h1>Navbar example</h1>
    <p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will
      remain fixed to the top of your browser’s viewport.</p>
    <a class="btn btn-lg btn-primary" href="/docs/5.1/components/navbar/" role="button">View navbar docs &raquo;</a>
  </div>
</main>
<div class="container mt-5">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
              <label for="">Ire Region</label>
              <select class="form-select form-select-lg mb-3" (change)="onChangeIreRegion($event.target.value)">
                <option value="">Select Ire Region</option>
                <option *ngFor="let ire of ires" [value]="ire.id">{{ ire.name }}</option>
              </select>
            </div>

            <div class="col-md-4">
              <label for="">Dpe Dce</label>
              <select class="form-select form-select-lg mb-3" (change)="onChangeIreDspeQuartier($event.target.value)">
                <option value="">Select Dpe Dce</option>
                <option *ngFor="let d of dpeDce" [value]="d.id">{{ d.name }}</option>

              </select>
            </div>

            <div class="col-md-4">
              <label for="">Dspe Quartier</label>
              <select class="form-select form-select-lg mb-3">
                <option value="">Dspe Quartier</option>
                <option *ngFor="let q of dspeQuartier" [value]="q.id">{{ q.name }}</option>
              </select>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>